@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Futura pt";
  src: url(../fonts/futura-pt-cufonfonts/FuturaCyrillicBook.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Futura pt";
  src: url(../fonts/futura-pt-cufonfonts/FuturaCyrillicDemi.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Futura pt";
  src: url(../fonts/futura-pt-cufonfonts/FuturaCyrillicMedium.ttf);
  font-weight: 500;
}
html,
body {
  height: 100%;
  font-family: "Futura pt";
  font-weight: 400;
  font-size: 24px;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0;
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
}

.container--subs {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.slick-prev {
  display: block;
  left: -120px;
  top: 225px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff3333;
  position: relative;
}
.slick-prev::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: url("../images/subs/left-arrow.png");
}

.slick-next {
  display: block;
  right: -1150px;
  top: -150px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff3333;
  position: relative;
}
.slick-next::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: url("../images/subs/right-arrow.png");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 20px 0 36px;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  margin-right: 147px;
}
.header__menu {
  margin-right: 100px;
  max-width: 650px;
}
.header__menu-list {
  display: flex;
  gap: 30px;
}
.header__menu-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  transition: color 0.2s linear;
}
.header__menu-link:hover {
  color: #f33;
}
.header__socials {
  margin-right: 102px;
}
.header__socials-list {
  display: flex;
  gap: 21px;
}
.header__icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__icons-enter {
  color: #f33;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.header__icons-enter::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #f33;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.header__icons-enter:hover::after {
  opacity: 1;
}

.intro {
  background: #000;
  margin-top: -210px;
  padding: 210px 0;
}
.intro__inner {
  max-width: 1160px;
  margin: 0 auto;
}
.intro__titles {
  padding: 68px 0 61px;
  color: #fff;
  font-family: "Lato";
  font-size: 73px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: relative;
  z-index: 10;
}
.intro__titles::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 51, 51, 0.5) 0%, rgba(255, 51, 51, 0) 100%);
  position: absolute;
  top: 0;
  left: -220px;
  z-index: 1;
}
.intro__title {
  position: relative;
  z-index: 10;
}
.intro__title:nth-child(2), .intro__title:nth-child(3) {
  margin-left: 99px;
}
.intro__title:nth-child(1), .intro__title:nth-child(2) {
  margin-bottom: 21px;
}
.intro__logo-wrapper {
  width: 142px;
  height: 142px;
  position: absolute;
  top: -20px;
  right: 100px;
}
.intro__logo {
  position: relative;
  width: 100%;
}
.intro__logo-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.intro__content {
  display: flex;
  gap: 33px;
  justify-content: center;
  align-items: center;
}
.intro__content-text {
  max-width: 304px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.intro__content-btn {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 22px;
  background-color: #f33;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.intro__content-btn:hover {
  color: #f33;
  background-color: #fff;
}

.games {
  padding: 20px 0 26px;
}
.games__inner {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.games__rows {
  display: flex;
  justify-content: space-between;
}
.targets {
  padding: 100px 0;
  background-color: #000;
  color: #fff;
}
.targets__wrapper {
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 51, 51, 0.5) 0%, rgba(255, 51, 51, 0) 100%);
}
.targets__title {
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.targets__subtitle {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 60px;
}
.targets__inner {
  display: flex;
  justify-content: space-between;
}
.targets__item {
  padding: 30px 19px 0 19px;
  width: 320px;
  height: 280px;
  border-radius: 8px;
  border: 1px solid #2f2e2e;
  backdrop-filter: blur(5px);
  background: linear-gradient(131deg, rgba(255, 255, 255, 0.3) -19.06%, rgba(255, 255, 255, 0) 31.37%), #000;
  box-shadow: 30px 30px 36px 0px rgba(21, 21, 21, 0.5) inset;
}
.targets__item-img {
  margin: 0 auto;
  margin-bottom: 20px;
}
.targets__item-text {
  text-align: center;
}

.decor {
  padding: 300px 0;
  background: #000;
}
.decor__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.decor__text {
  max-width: 930px;
  color: #fff;
  text-align: center;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  position: relative;
}
.decor__text::after {
  content: url("../images/decor/Ellipse.png");
  position: absolute;
  top: -80%;
  left: -9%;
}
.decor__link {
  border-bottom: 1px solid #f33;
}

.stats {
  padding: 100px 0;
}
.stats__inner {
  display: flex;
  justify-content: center;
  gap: 283px;
  align-items: center;
}
.stats__item-title {
  color: #000;
  text-align: center;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  max-width: 430px;
  text-align: left;
}
.stats__item-img {
  margin-bottom: 15px;
}
.stats__item-text {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  max-width: 335px;
}

.options {
  padding: 31px 0 100px;
  background: #000;
  color: #fff;
}
.options__content {
  width: 1130px;
  margin: 0 auto 31px;
  padding: 69px 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 51, 51, 0.5) 0%, rgba(255, 51, 51, 0) 100%);
  position: relative;
}
.options__content::after {
  content: url("../images/options/Ellipse.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.options__content-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.options__content-text--top {
  margin-left: 98px;
  margin-bottom: 40px;
  max-width: 210px;
}
.options__content-title {
  color: #fff;
  font-family: "Lato";
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 40px;
}
.options__content-text--bottom {
  max-width: 266px;
  margin-left: 884px;
}
.options__inner {
  display: flex;
  justify-content: space-between;
}
.options__item {
  width: 320px;
  height: 206px;
  padding: 30px 19px 30px 19px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #2f2e2e;
  background: linear-gradient(131deg, rgba(255, 255, 255, 0.3) -19.06%, rgba(255, 255, 255, 0) 31.37%), #000;
  box-shadow: 30px 30px 36px 0px rgba(21, 21, 21, 0.5) inset, -5px -5px 20px 0px rgba(255, 255, 255, 0.3);
}
.options__item-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 10px;
}
.options__item-text {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.subs {
  padding: 100px 0;
  /*  &__item-logo {
    position: absolute;
    top: -10%;
    display: block;
    z-index: 6;
  } */
}
.subs__header {
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}
.subs__title {
  color: #000;
  font-family: "Lato";
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  align-self: self-start;
}
.subs__text {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  width: 510px;
  padding-top: 72px;
}
.subs__inner {
  position: relative;
  z-index: 4;
}
.subs__item {
  width: 228px;
  height: 320px;
  margin-right: 30px;
  border-radius: 8px;
  border: 2px solid #f33;
  background: #fff;
  padding: 63px 0 30px;
  position: relative;
  z-index: 1;
  overflow: visible !important;
}
.subs__item::after {
  content: url("../images/subs/logo-vip.png");
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.subs__item-num {
  color: #f33;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 10px;
}
.subs__item-text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 10px;
}
.subs__item-text:last-of-type {
  margin-bottom: 50px;
}
.subs__item-text-bold {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.subs__item-link {
  display: block;
  text-align: center;
}

.system {
  padding: 29px 0 100px;
  background: #000;
  margin-bottom: 31px;
}
.system__wrapper {
  max-width: 1130px;
  margin: 0 auto;
}
.system__header {
  padding: 171px 0 69px;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 51, 51, 0.5) 0%, rgba(255, 51, 51, 0) 100%);
}
.system__header::after {
  content: url("../images/system/Ellipse.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.system__header-title {
  color: #fff;
  font-family: "Lato";
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 40px;
}
.system__header-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-left: 884px;
}
.system__inner {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.system__item {
  padding: 30px 0 0 30px;
  width: 554px;
  height: 659px;
  border-radius: 8px;
  border: 1px solid #2f2e2e;
  background: linear-gradient(131deg, rgba(255, 255, 255, 0.3) -19.06%, rgba(255, 255, 255, 0) 31.37%), #000;
  box-shadow: 30px 30px 36px 0px rgba(21, 21, 21, 0.5) inset, -5px -5px 20px 0px rgba(255, 255, 255, 0.3);
  color: #fff;
}
.system__item-title {
  max-width: 148px;
  margin-bottom: 30px;
}
.system__item-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 49px;
  height: 62px;
}
.system__item-info {
  display: flex;
  gap: 66px;
  margin-bottom: 50px;
}
.system__info-title {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 10px;
}
.system__info-text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.system__item-example {
  display: flex;
  gap: 30px;
}
.system__example-icon {
  width: 60px;
  height: 60px;
}
.system__example-text {
  padding-top: 30px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.system__example-text--left {
  max-width: 327px;
  padding-bottom: 26px;
}
.system__item-link {
  display: block;
  opacity: 0.7;
  margin: 30px 51px 0 0;
  text-align: right;
}

.promo {
  padding: 100px 0;
}
.promo__header {
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.promo__header-img {
  width: 150px;
  height: 150px;
}
.promo__header-title {
  color: #f33;
  font-family: "Lato";
  font-size: 300px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.promo__top-content {
  display: flex;
  padding: 200px 0 100px 114px;
}
.promo__top-content--first {
  padding-top: 0;
}
.promo__top-title {
  color: #000;
  font-family: "Lato";
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  max-width: 561px;
}
.promo__top-logo {
  margin-bottom: 46px;
}
.promo__top-text {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  max-width: 348px;
  margin-left: -93px;
}
.promo__bottom-content {
  padding: 100px 114px;
  border-radius: 8px;
  border: 2px solid #f33;
}
.promo__bottom-text {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  max-width: 680px;
  margin-bottom: 50px;
}
.promo__botton-inner {
  display: flex;
  justify-content: space-between;
}
.promo__botton-item {
  width: 24%;
}
.promo__item-header {
  display: flex;
  justify-content: space-between;
}
.promo__item-title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.72px;
  margin-bottom: 10px;
}
.promo__item-icon {
  width: 60px;
  height: 60px;
}
.promo__prizes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.promo__prizes-item {
  width: 192px;
  text-align: center;
}
.promo__prizes-link {
  display: block;
  height: 125px;
  margin-bottom: 30px;
}
.promo__prizes-link--tesla {
  height: 111px;
  margin-bottom: 20px;
}
.promo__prizes-img {
  margin: 0 auto;
}
.promo__prizes-price {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 10px;
}
.promo__prizes-name {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.promo__info-title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.72px;
  margin-bottom: 20px;
}
.promo__info-text {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 20px;
}
.promo__info-text:last-of-type {
  margin-bottom: 0;
}
.promo__table {
  display: grid;
  padding: 10px 10px;
  border: 1px solid rgba(255, 51, 51, 0.5);
  max-width: 690px;
  height: 82px;
  grid-template-columns: 2fr repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px 20px;
  margin-bottom: 50px;
}
.promo__table-cell--name {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.promo__table-cell--persent {
  color: #f33;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.promo__table-cell--line {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.promo__info-link {
  color: #f33;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.road-map {
  padding: 100px 0;
  color: #fff;
  background-color: #000;
}
.road-map__wrapper {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 51, 51, 0.5) 0%, rgba(255, 51, 51, 0) 100%);
}
.road-map__header {
  padding-left: 114px;
  display: flex;
  gap: 151px;
  margin-bottom: 100px;
}
.road-map__header-title {
  color: #fff;
  font-family: "Lato";
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.road-map__header-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  max-width: 288px;
  align-self: flex-end;
  padding-bottom: 18px;
}
.road-map__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.road-map__row {
  display: flex;
  gap: 30px;
}
.road-map__item {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  border: 1px solid #2f2e2e;
  background: linear-gradient(131deg, rgba(255, 255, 255, 0.3) -19.06%, rgba(255, 255, 255, 0) 31.37%), #000;
  box-shadow: 30px 30px 36px 0px rgba(21, 21, 21, 0.5) inset, -5px -5px 20px 0px rgba(0, 0, 0, 0.3);
  padding: 20px 29px 0 20px;
}
.road-map__item-date {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 20px;
}
.road-map__item-text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.join {
  background-color: #000;
  padding: 52px 0 209px;
  margin-bottom: -142px;
}
.join__inner {
  max-width: 1130px;
  margin: 0 auto;
}
.join__header {
  position: relative;
  padding-left: 144px;
  margin-bottom: 50px;
}
.join__title {
  color: #fff;
  font-family: "Lato";
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.join__title:nth-of-type(2), .join__title:nth-of-type(3) {
  padding-left: 142px;
  margin-top: -21px;
}
.join__logo {
  position: absolute;
  right: 16%;
  top: 50%;
  transform: translateY(-50%);
}
.join__link-wrapper {
  text-align: center;
}
.join__btn {
  padding: 20px 22px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f33;
  display: block;
  margin: 0 auto;
  max-width: 240px;
  margin-bottom: 30px;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.join__btn:hover {
  background-color: #fff;
  color: #f33;
}
.join__link {
  color: #f33;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  display: block;
}