@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Futura pt";
  src: url(../fonts/futura-pt-cufonfonts/FuturaCyrillicBook.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Futura pt";
  src: url(../fonts/futura-pt-cufonfonts/FuturaCyrillicDemi.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Futura pt";
  src: url(../fonts/futura-pt-cufonfonts/FuturaCyrillicMedium.ttf);
  font-weight: 500;
}
